<div class="mx-auto mt-2 bg-gray-200 w-mobile h-mobile">

  
    <div  class="bg-white pt-8">
      <div  class="flex px-5 justify-between items-center gap-4  pb-1">

         <div>
             
             <div class="mt-1 relative  bg-slate-200 rounded-md py-2 search ">
               <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                 <!-- Heroicon name: solid/mail -->
                 <img  src="/assets/image/search.png" alt="" class="w-5 h-5 ">
               </div>
               <input type="email" name="email" id="email" class="bg-slate-200 focus:outline-none block w-full pl-10 pr-4 text-1xl border-gray-300 rounded-md" placeholder="Search or enter NFTs…">
             </div>
           </div>
         
           <div>
              <h2  class="text-1xl font-medium title-font pl-1 text-gray-900 text-right">Cancel</h2>
           </div>
         
        </div>
       <nav class="flex  space-x-4 ml-3 mt-6 ">
            
         <a href="/team" class="font-medium gray-c px-2 py-2  text-lg rounded-lg leading-3  pb-0">Following</a>
         <a href="/dashboard" class="  font-semibold border-b-2 border-black text-black text-lg  pb-4 px-3 py-2  leading-3">Followers</a>
        </nav>
        <hr class=""/>

     <div class="text-sm color px-5 pt-6 ">
         <p>• All Followers</p>
     </div>
     <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full mt-2 rounded-full text-bl bg-transparent border-gray-500 border text-xs py-1.5 px-3 focus:outline-none bg-transparent">Unfollow</button></div>
     </div>
     <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full mt-2 rounded-full text-bl bg-transparent border-gray-500 border text-xs py-1.5 px-3 focus:outline-none bg-transparent">Unfollow</button></div>
     </div>
     <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full mt-2 rounded-full text-bl bg-transparent border-gray-500 border text-xs py-1.5 px-3 focus:outline-none bg-transparent">Unfollow</button></div>
     </div>
     <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full mt-2 rounded-full text-bl bg-transparent border-gray-500 border text-xs py-1.5 px-3 focus:outline-none bg-transparent">Unfollow</button></div>
     </div>
    
     
    </div>
 

</div>