<div class="mx-auto   w-mobile h-mobile">

  
    <div  class=" pt-8">
        <div  class="flex px-5 justify-between items-center gap-4 border-b">
            <div ><i  class="fa fa-angle-left fa-solid fa-2x py-1"></i></div>
            <div>
               <h2  class="text-2xl font-medium title-font pl-1 text-gray-900">Detail</h2>
            </div>
            <img  src="/assets/image/heart.png" alt="" class="lg:w-7 h-7 text-right">
         </div>
         
       
       <nav class="flex  space-x-4 ml-3 mt-6 ">
        <a href="/team" class="font-medium gray-c px-2 py-2  text-lg rounded-lg leading-3  pb-0">Information</a>
        <a href="/dashboard" class="  font-semibold border-b-2 border-black text-black text-lg  pb-4 px-3 py-2  leading-3">Activity</a>
        
        
        </nav>
        <hr class=""/>


     




     <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-normal text-sm mb-1">Bid 0.08 ETH by Clifford Copeland</h3>
                 <p  class="text-xs gray-c">08 June, 2021   •   11:00</p>
              </div>
           </div>
        </div>
    </div>

    <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-normal text-sm mb-1">Bid 0.08 ETH by Clifford Copeland</h3>
                 <p  class="text-xs gray-c">08 June, 2021   •   11:00</p>
              </div>
           </div>
        </div>
    </div>

    <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-normal text-sm mb-1">Bid 0.08 ETH by Clifford Copeland</h3>
                 <p  class="text-xs gray-c">08 June, 2021   •   11:00</p>
              </div>
           </div>
        </div>
    </div>

    <div  class="flex justify-between items-center px-5 pt-3 pb-3 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full lg:w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-normal text-sm mb-1">Bid 0.08 ETH by Clifford Copeland</h3>
                 <p  class="text-xs gray-c">08 June, 2021   •   11:00</p>
              </div>
           </div>
        </div>
    </div>

   
     
     
    </div>
 
    <div class="btn bg-white fixed bottom-0 w-full pb-1">
        <div class="px-4  ">
          <hr class="mb-3"/>
          <div class="flex gap-3 justify-between mb-4">
              <div class="text-left">
                  <p class="text-sm">Current Bid</p>
                  <h3 class="text-2xl font-black">0.80 ETH</h3>
              </div>
             
          <button class=" rounded-full text-white text-right  py-2   px-6 focus:outline-none   text-lg">Create Item </button>
       
        </div>
      </div>
    </div>
</div>