<div class="relative">
    <section class="absolute top-0 w-full">
        <div class="w-full pt-8 pb-4 px-4 bg-white">
            <div class="relative">
                <img class="absolute top-4 left-4" src="/assets/image/Searchbc.png" alt="" id=""/>
                <input type="text" name="Allsearch" id="" class="rounded-lg w-full py-3 border-white pl-12 pr-4 text-lg font-normal border-2 text-gray-700 focus:outline-none focus:shadow-outline focus:border-blue-500 bg-gray-100" placeholder="Search or enter NFTs..."/>
            </div>
        </div>
    </section>

    <section class="h-screen overflow-y-auto pt-28 pb-28">
        <div class="w-full flex gap-x-2 justify-center items-center px-6">
            <div class="flex-shrink-0 w-6/12">
                <a href=""><img class="mb-2 w-full rounded-lg h-48 object-cover" src="/assets/image/whiteLion.png" alt=""/></a>
                <a href=""><img class="mb-2 w-full rounded-lg h-36 object-cover" src="/assets/image/lady.png" alt=""/></a>
            </div>
            <div class="flex-shrink-0 w-6/12">
                <a href=""><img class="mb-2 w-full rounded-lg h-36 object-cover" src="/assets/image/persons.png" alt=""/></a>
                <a href=""><img class="mb-2 w-full rounded-lg h-48 object-cover" src="/assets/image/lady2.png" alt=""/></a>
            </div>
        </div>
        <div class="w-full px-4 pb-4">
            <a href=""><img class="mb-2 w-full rounded-lg h-48 object-cover" src="/assets/image/painting.png" alt=""/></a>
        </div>
    </section>

    <section class="w-full">
        <div class="pb-8 w-full flex justify-between items-center px-4 border-t-2 border-gray-100 bg-white absolute bottom-0">
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/home.png" alt="" id="" class="w-8 h-8"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/search.png" alt="" id="" class="w-12 border-white hover:border-t-2 hover:border-black"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/compass.png" alt="" id="" class="w-12 border-white hover:border-t-2 hover:border-black"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/notify.png" alt="" id="" class="w-12 border-white hover:border-t-2 hover:border-black"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/user.png" alt="" id="" class="w-12 border-white hover:border-t-2 hover:border-black"/></a>
            </div>
        </div>
    </section>
</div>
