<!--DISCOVER LIKE SCREEN-->
<div class="relative">

    <!-- Header -->
    <section class="absolute w-full">
        <div class="flex justify-between px-4 pt-16">
            <div class="">
                <h1 class="text-2xl font-bold text-white">Discovery</h1>
            </div>
            <div class="">
                <a href=""><img src="/assets/image/WhitePlus.png" alt="" id="" class="w-full h-8"/></a>
            </div>
        </div>
    </section>
    <!-- Header End-->

    <!-- Main -->
    <section>
        <div class="w-full">
            <img src="/assets/image/girlFull.png" alt="" class="w-full object-cover h-full">
        </div>

        <!--LIKED HEART-->
        <div class="">
            <img src="/assets/image/BigHeart.png" alt="" class="w-24 object-cover  absolute bottom-80 right-20">
        </div>
        <!--LIKED HEART END-->


        <!--User Detail-->
        <div class="absolute bottom-28 px-4 w-full">
            <div class="flex w-full gap-2 items-center">
                <div class="">
                    <img src="/assets/image/DiscoveryUser.png" alt="" class="w-10 h-10 object-cover rounded-full">
                </div>
                <div class="text-white">
                    <small class="text-xs">Creator</small>
                    <p class="text-base font-bold">Minnie   •  <span class=""><a href="#" class="">Follow</a></span> </p>
                </div>
            </div>
            <div class="text-white">
                <h1 class="text-2xl font-bold pt-4">
                    Sugar Rush
                </h1>
                <p class="text-base font-normal pt-3 pb-4">
                    Sugar rush is the final design from my dream…
                </p>
            </div>
            <div class="flex justify-between items-center">
                <div class="bg-white py-1.5 px-4 rounded-3xl text-black font-medium">
                    <h2>⏳ 1h 28m 11s</h2>
                </div>
                <div class="flex items-center gap-4 text-white">
                    <a href=""><img src="/assets/image/HeartFill.png" alt="" id="" class="w-full h-full"/></a>
                    <p (click)="toggle_pop()" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                        </svg>
                    </p>
                </div>
            </div>
        </div>
        <!--User Detail End-->
    </section>
    <!-- Main End -->

    <!-- Footer -->
    <section class="w-full">
        <div class="h-24 pb-4 w-full flex justify-between items-center px-4 bg-black absolute bottom-0">
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteHome.png" alt="" id="" class="w-full h-7 "/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteSerach.png" alt="" id="" class="w-full h-7 "/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteCompass.png" alt="" id="" class="w-full h-7 "/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteNotify.png" alt="" id="" class="w-full h-7 "/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whitePerson.png" alt="" id="" class="w-full h-7 "/></a>
            </div>
        </div>
    </section>
    <!-- Footer End -->

    <!--POPUP MODAL-->
    <div *ngIf="show" class="absolute z-10 inset-0 overflow-hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class=" min-h-screen px-4 text-center">
          <div class="absolute inset-0 bg-black bg-opacity-60 transition-opacity" aria-hidden="true"></div>
          <span class="sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
          <div class="relative inline-block align-bottom bg-white rounded-lg py-6 text-left w-full  mb-20">
              <div class="text-center relative">
                  <p (click)="hide_toggle_pop()"  class="absolute right-3 -top-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </p>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block pb-4 border-b" id="modal-title">Share</a>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block py-4 border-b" id="modal-title">Report</a>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block pt-4" id="modal-title">Cancel</a>
              </div>
          </div>
        </div>
    </div>
    <!--POPUP MODAL END-->

    

</div>