
    <div class="bg-white head-cl  pt-10 "> 
      
    <div class="grid grid-cols-3 gap-4 sm:px-7 border-b ">
     
        <div> <i class="fa fa-angle-left fa-solid fa-2x py-1"></i> </div>
        <!-- ... -->
        <div><h2 class="sm:text-3xl text-6xl font-medium title-font mb-4 text-gray-900 ">Profile</h2></div>
        
     
    </div>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="grid grid-cols-4 gap-2 pt-6 sm:px-5">
        <div class="col-start-1 col-end-2">
            <img class=" rounded-full lg:w-20 lg:h-20" src="/assets/image/profile-blk.png" alt="">
        </div>
        
        <div class="font-medium col-start-2 col-span-4 mt-2">
          <h3>Leslie Alexander</h3>
          <p class="text-indigo-600">Co-Founder / CEO</p>
        </div>
      </div>
      <div class=" sm:px-3 mx-5  my-7 py-5 rounded-md pro-box">
        <div class="col-start-1 col-end-7">
            <label class="block">
                <span class=" text-sm font-medium text-black font-medium">
                  Display Name
                </span>
                <input type="text" name="text" class="mt-1    block w-full sm:text-sm focus:ring-1" placeholder="Enter Your Display Name" />
              </label>
        </div>
      </div>
      <div class=" sm:px-3 mx-5  my-5 py-8 rounded-md pro-box">
        <div class="col-start-1 col-end-7">
            <label class="block">
                <span class=" text-sm font-medium text-black font-medium">
                  Bio
                </span>
                <input type="text" name="text" class="mt-1    block w-full sm:text-sm focus:ring-1" placeholder="Tell about yourself in few words" />
              </label>
        </div>
      </div>
      <div class=" sm:px-3 mx-5  my-5 py-5 rounded-md pro-box">
        <div class="col-start-1 col-end-7">
            <label class="block">
                <span class=" text-sm font-medium text-black font-medium">
                  Email
                </span>
                <input type="email" name="email" class="mt-1    block w-full sm:text-sm focus:ring-1" placeholder="Your email for marketplace" />
              </label>
        </div>
      </div>

      <div class="mr-4 ...">
        <hr class="mr-9"/>
        <div class="flex justify-center ">
        <button class="w-full rounded-full text-white bg-indigo-500  py-2  mx-5 px-6 focus:outline-none hover:bg-indigo-600  text-lg">Place a Bid</button>
    </div>
    </div>

   
</div>