<div class=" px-4 pt-10 pb-8 bg-white shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg sm:mx-auto lg sm:px-10  head-cl">
    <div class="grid grid-cols-3 gap-4">
        <div> <i class="fa fa-angle-left fa-solid fa-2x py-1"></i> </div>
        <!-- ... -->
        <div><h2 class="sm:text-3xl text-6xl font-medium title-font mb-4 text-gray-900 ">Profile</h2></div>
      </div>
   
    <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="mx-auto py-12 px-4 max-w-7xl  lg:py-24">
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">

        <div class="lg:col-span-2">
          <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
            <li>
              <div class="flex items-center space-x-4 lg:space-x-6">
                <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div class="font-medium text-lg leading-6 space-y-1">
                  <h3>Leslie Alexander</h3>
                  <p class="text-indigo-600">Co-Founder / CEO</p>
                </div>
              </div>
            </li>
  
            <!-- More people... -->
          </ul>
        </div>
      </div>
    </div>
  </div>



   
</div>