<div class=" px-6 pt-10 pb-8 bg-white shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg sm:mx-auto lg sm:px-10  head-cl">
    <i class="fa fa-angle-left fa-solid fa-2x py-8"></i> 
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-center text-black text-md  ">Good Morning</p>
    <h2 class="sm:text-3xl text-6xl font-medium title-font mb-4 text-gray-900 text-center">Connect to <br>a Wallet</h2>
    <img src="/assets/image/wallet-img.png" class=" py-12">
    <p class=" py-14 text-center">
        We do not own your private keys and cannot ccess your funds without your confirmation.
    </p>
</div>