<section>
    <div class="w-full pt-8 pb-4 px-4 grid grid-cols-5 items-center">
        <div class="relative col-span-4">
            <img class="absolute top-5 left-4" src="/assets/image/Search.png" alt="" id=""/>
            <input type="text" name="Allsearch" id="" class="rounded-lg w-full py-4 pl-12 pr-4 text-lg font-medium border-2 text-gray-700 focus:outline-none focus:shadow-outline focus:border-blue-500" placeholder="Search or enter NFTs..."/>
        </div>
        <div class="text-right col-span-1">
            <a href="">
                <button class="border-none outline-none bg-transparent text-lg font-medium capitalize">cancel</button>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="w-full flex justify-between items-center px-4 border-b border-white text-black font-medium text-lg pt-2 search-all-main">
        <div class="flex-shrink-0">
            <a href=""><p class="pb-2 hover:border-b-2 hover:border-black">All</p></a>
        </div>
        <div class="flex-shrink-0">
            <a href=""><p class="pb-2 hover:border-b-2 hover:border-black">Creator</p></a>
        </div>
        <div class="flex-shrink-0">
            <a href=""><p class="pb-2 hover:border-b-2 hover:border-black">Artworks</p></a>
        </div>
        <div class="flex-shrink-0">
            <a href=""><p class="pb-2 hover:border-b-2 hover:border-black">Collection</p></a>
        </div>
    </div>
</section>


