<div class="mx-auto mt-2 bg-white h-screen relative">

  
    <div  class="bg-white pt-8">
       <div  class="flex px-5 justify-between items-center gap-4 border-b">
          <!-- <div ><i  class="fa fa-angle-left fa-solid fa-2x py-1"></i></div> -->
          <div>
            <h2  class="text-2xl font-medium title-font  text-gray-900">Notification</h2>
         </div>
         <img (click)="toggle_pop()"  src="/assets/image/notification.png" alt="" class="w-7 h-7 text-right">
       </div>
       <div  class="flex justify-between px-5 pt-4 items-center">
          <div  class="col-span-2">
             <div  class="flex gap-2 items-center">
                <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
                <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                   <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                   <p  class="text-xs">Co-Founder / CEO</p>
                </div>
             </div>
          </div>
          <div ><button  class="w-full rounded-full text-white bg-indigo-500 text-xs py-1.5 px-3 focus:outline-none hover:bg-indigo-600">Follow</button></div>
       </div>
       <div  class="flex justify-between px-5 pt-8 items-center">
          <div  class="col-span-2">
             <div  class="flex gap-2 items-center">
                <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
                <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                   <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                   <p  class="text-xs">Co-Founder / CEO</p>
                </div>
             </div>
          </div>
          <div ><button  class="w-full rounded-full text-white bg-indigo-500 text-xs py-1.5 px-3 focus:outline-none hover:bg-indigo-600">Follow</button></div>
       </div>
       <div  class="flex justify-between px-5 pt-8 items-center">
          <div  class="col-span-2">
             <div  class="flex gap-2 items-center">
                <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
                <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                   <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                   <p  class="text-xs">Co-Founder / CEO</p>
                </div>
             </div>
          </div>
          <div>
            <img  src="/assets/image/v-img.png" alt="" class=" w-10 h-10 mt-2">
           </div>
        </div>
     
     <div  class="flex justify-between px-5 pt-8 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full rounded-full text-white bg-indigo-500 text-xs py-1.5 px-3 focus:outline-none hover:bg-indigo-600">Follow</button></div>
     </div>
     <div  class="flex justify-between px-5 pt-8 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div>
            <img  src="/assets/image/v-img.png" alt="" class=" w-10 h-10 mt-2">
           </div>
    </div>
     <div  class="flex justify-between px-5 pt-8 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div>
            <img  src="/assets/image/v-img.png" alt="" class=" w-10 h-10 mt-2">
           </div>
     </div>

     <div  class="flex justify-between px-5 pt-8 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full rounded-full text-white bg-indigo-500 text-xs py-1.5 px-3 focus:outline-none hover:bg-indigo-600">Follow</button></div>
     </div>

     <div  class="flex justify-between px-5 pt-8 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full rounded-full text-white bg-indigo-500 text-xs py-1.5 px-3 focus:outline-none hover:bg-indigo-600">Follow</button></div>
     </div>

     <div  class="flex justify-between px-5 pt-8 items-center">
        <div  class="col-span-2">
           <div  class="flex gap-2 items-center">
              <div  class="col-start-1 mr-1 col-end-2"><img  src="/assets/image/Avatar.png" alt="" class="rounded-full w-10 h-10 mt-2"></div>
              <div  class="text-base col-start-2 col-span-4 mt-2 ml-1">
                 <h3  class="font-semibold text-1x1">Leslie Alexander</h3>
                 <p  class="text-xs">Co-Founder / CEO</p>
              </div>
           </div>
        </div>
        <div ><button  class="w-full rounded-full text-white bg-indigo-500 text-xs py-1.5 px-3 focus:outline-none hover:bg-indigo-600">Follow</button></div>
     </div>
    
     
    </div>

    <!--POPUP MODAL-->
    <div *ngIf="show" class="absolute z-10 inset-0 overflow-hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class=" min-h-screen px-4 text-center">
          <div class="absolute inset-0 bg-black bg-opacity-60 transition-opacity" aria-hidden="true"></div>
          <span class="sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
          <div class="relative inline-block align-bottom bg-white rounded-lg py-6 text-left w-full  mb-10">
              <div class="text-center relative">
                  <p (click)="hide_toggle_pop()"  class="absolute right-3 -top-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </p>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block pb-4 border-b" id="modal-title">Purchases</a>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block py-4 border-b" id="modal-title">Transfers</a>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block py-4 border-b" id="modal-title">Sales</a>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block py-4 border-b" id="modal-title">Followings</a>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block py-4 border-b" id="modal-title">Likes</a>
                <a href="" class="text-base leading-6 font-medium text-gray-900 block pt-4" id="modal-title">Cancel</a>
              </div>
          </div>
        </div>
    </div>
    <!--POPUP MODAL END-->
 

</div>