<div  class="  h-screen bg-black  ">
      
        <div  class=" px-5  pt-6 pb-6 border-b">
          <div ><i  class="fa fa-angle-left fa-solid fa-2x py-1 text-white"></i></div>
       </div>

       <div>
        <a href=""><img src="/assets/image/display-pic.png" alt="" id="" class="w-full border-0 "/></a>
      </div>
    
      <div  class=" flex  mt-14 justify-between items-center gap-4  px-5">
    
      <div>
        <a href=""><img src="/assets/image/cam-pic.png" alt="" id="" class="w-full border-0 mt-10"/></a>
      </div>
      <div>
        <a href=""><img src="/assets/image/circle-btn.png" alt="" id="" class="w-full border-0  "/></a>
      </div>
      <div>
        <a href=""><img src="/assets/image/cam.png" alt="" id="" class="w-full border-0 mt-10"/></a>
      </div>
    </div>
    
    </div>