
<div class="relative">

    <!-- Header -->
    <section class="absolute">
        <div class="flex justify-between px-4">
            <div class="">
                <h1>Discovery</h1>
            </div>
            <div class="">
                <a href=""><img src="/assets/image/plus.png" alt="" id="" class="w-full h-full"/></a>
            </div>
        </div>
    </section>
    <!-- Header End-->

    <!-- Main -->
    <section>
        <div class="w-full">
            <img src="/assets/image/girlFull.png" alt="" class="w-full object-cover h-full">
        </div>
    </section>
    <!-- Main End -->

    <!-- Footer -->
    <section class="w-full">
        <div class="pb-8 w-full flex justify-between items-center px-4 border-t-2 border-gray-100 bg-black absolute bottom-0">
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteHome.png" alt="" id="" class="w-full h-8 border-black hover:border-t-2 hover:border-white"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteSearch.png" alt="" id="" class="w-full h-8 border-black hover:border-t-2 hover:border-white"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteCompass.png" alt="" id="" class="w-full h-8 border-black hover:border-t-2 hover:border-white"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whiteNotify.png" alt="" id="" class="w-full h-8 border-black hover:border-t-2 hover:border-white"/></a>
            </div>
            <div class="flex-shrink-0">
                <a href=""><img src="/assets/image/whitePerson.png" alt="" id="" class="w-full h-8 border-black hover:border-t-2 hover:border-white"/></a>
            </div>
        </div>
    </section>
    <!-- Footer End -->

</div>