<div class="mx-auto overflow-auto">

  
    <div  class=" pt-8">
        <div  class="flex px-5 justify-between items-center gap-4 border-b">
            <div ><i  class="fa fa-angle-left fa-solid fa-2x py-1"></i></div>
            <div>
               <h2  class="text-2xl font-medium title-font pl-1 text-gray-900">Detail</h2>
            </div>
            <img  src="/assets/image/heart.png" alt="" class="lg:w-7 h-7 text-right">
         </div>
         
       
       <nav class="flex  space-x-4 ml-3 mt-6 ">
        <a href="/team" class="font-medium gray-c px-2 py-2  text-lg rounded-lg leading-3  pb-0">Information</a>
        <a href="/dashboard" class="  font-semibold border-b-2 border-black text-black text-lg  pb-4 px-3 py-2  leading-3">Activity</a>
        
        
        </nav>
        <hr class=""/>


     




     <div  class=" px-5 pt-3 pb-3 items-center">
       <h3 class="text-3xl font-medium mt-5 mb-4">Sugar Rush</h3>
       <h6 class="text-sm font-semibold mb-1">DESCRIPTION</h6>
       <p class="text-base font-normal mb-4 gray-c">Sugar rush is the final design from my dream vs. reality collection. I am a heavy candy addict, which will eventually cause me to get ill when I get older. </p>

<p class="text-base font-normal  mb-4 gray-c">  We all have sugar that we are addicted to. For some, it’s drugs, money, sex, fame, and more. This final design shows what it is like to have a “sugar rush.”</p>
        <div>


       </div>
    </div>


</div>