
    <div class="bg-white   relative h-screen pt-8 "> 
      
        <div  class="flex head-cl px-5 justify-between items-center gap-4 pb-2 border-b">
          <div ><i  class="fa fa-angle-left fa-solid fa-2x py-1"></i></div>
          <div>
             <h2  class="text-2xl font-medium title-font  text-gray-900">Place a Bid</h2>
          </div>
          <div></div>
       </div>
      <!-- This example requires Tailwind CSS v2.0+ -->
   

      <div class=" flex   pt-5 gap-7  mx-5">
        <div class=" "><img src="/assets/image/mask-img.png" alt="" id="" class="w-full "/></div>
        <div class="mt-5 ">
<p class="text-sm font-norma g-color pb-2 pl-3">⏳ 1h 28m 11s</p>
<h3 class="text-xl font-bold">Sugar Rush</h3>
<p class="text-sm font-normal g-color">You must bid at least <br>0.825 ETH</p>

        </div>
      </div>
    
    
       
           <div class="  items-center ">
            <div class=" flex  gap-2 mx-5">
                <div class=" pro-box   my-7 py-5 rounded-md pro-box px-3">
                 
                        <label class="flex gap-4">
                            <div>
                            <span class=" text-sm font-medium text-black font-medium">
                              Token
                           
                            </span>
                            <input type="text" name="text" class="mt-1  w-12 block focus:outline-none  border-0   text-sm focus:ring-0" placeholder="ETH" />
                            
                        </div>
                            <img class=" rounded-full w-8 h-8 text-right" src="/assets/image/btn-select.png" alt=""> 
                        </label>
  
              
            </div>
            <div class="    my-7 py-5 rounded-md pro-box px-3">
                <div class="">
                    <label class="block">
                        <span class=" text-sm font-medium text-black font-medium">
                          Minimum bid
                        </span>
                        <input type="text" name="text" class="mt-1 focus:outline-none  border-0 block w-full text-sm focus:ring-0" placeholder="Enter Minimum bid" />
                      </label>
                </div>
              </div> 

          </div>
        <div class="   btn">
        <div class="mr-4  inset-x-0 bottom-0 ">
          <hr class="mb-3"/>
          <div class="flex justify-center mb-4">
          <button class="w-full rounded-full text-white   py-2  mx-5 px-6 focus:outline-none   text-lg">Create Item </button>
      </div>
      </div>
    </div>
     
  </div>